// body.photos-page {
//     background: $secondaryColor;
//     padding-bottom: 200px;
//     position: relative;
// }

.photos-wrapper {
  padding: 30px;
  margin: 30px 0;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 1.5fr, 1fr, 1fr;
  gap: 1rem;

  .photo-item {
    overflow: hidden;

    // &:first-child {
    //   grid-column: 2 / span5;
    //   grid-row: 1 / span2;
    // }

    img {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }
  }
}

// .footer-bottom {
//     position: absolute;
//     width: 100%;
//     bottom: 0;

// }
