// body.photos-page {
//     background: $secondaryColor;
//     padding-bottom: 200px;
//     position: relative;
// }

.photos-wrapper {
  padding: 30px;
  margin: 30px 0;
}

.photos {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  .photo-item {
    overflow: hidden;

    img {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }
  }
}

// .footer-bottom {
//     position: absolute;
//     width: 100%;
//     bottom: 0;

// }
