.single-news-item {
  max-width: 600px;
  padding: 4rem 1rem;

  .single-news-item__image {
    width: 60%;
    margin: 40px auto 50px auto;

    img {
      border-radius: 100px 0 100px 0;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        border-radius: 0 100px 0 100px;
      }
    }
  }

  .single-news-item__desc {
    line-height: 1.8;
  }

  // .single-news-item__date {
  //   margin-top: 50px;
  // }

  // img {
  //   height: 100%;
  // }
}
